/*==========  Desktop First Method  ==========*/

/* Desktops */
@media only screen and (max-width : 1740px) {
  .third,
  .sixth,
  .footer,
  .eighth {
    padding-left: 2%;
    padding-right: 2%;
  }

  .sixth {
    flex-direction: column;
    align-items: center;
  }  

  .recipes__title {
    margin-top: 40px;
  }

  .shares__title {
    margin-top: 0;
  }
}

/* Desktops */
@media only screen and (max-width : 1540px) {
  .third {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .beer {
    margin-top: 40px;
  }
}

/* Desktops */
@media only screen and (max-width : 1435px) {
  .events__item {
    margin-bottom: 30px;
  }

  .events {
    margin-bottom: 155px;
  }
}

/* Desktops */
@media only screen and (max-width : 1237px) {
  .calculation {
    max-width: 990px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
  .header {
    padding-left: 2%;
    padding-right: 2%;
  }

  .advantages {
    flex-wrap: wrap;
    max-width: 550px;
  }

  .advantages__item + .advantages__item {
    margin-left: 5px;
  }

  .advantages__item {
    margin: 5px;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1025px) {
  .fifth {
    width: 96%;
  }

  .fifth__description {
    max-width: 560px;
  }  
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 850px) {
  .seventh {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 783px) {
  .beer {
    flex-direction: column;
  }
  
  .beer__img-2 {
    margin-left: 0;
    margin-top: 18px;
  }

  .third {
    align-items: flex-start;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 660px) {
  .header__title {
    font-size: 60px;
  }

  .header__sub-title {
    text-align: center;
  }

  .header__title, 
  .header__sub-title {
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
  }

  .events__item__title {
    text-align: center;
  }

  .wrapper__title,
  .seventh__title,
  .craft__title,
  .fifth__title,
  .recipes__title,
  .footer__title {
    font-size: 50px;
  }

  .events__item__title,
  .advantages__item__title {
    font-size: 25px;
  }

  .fifth {
    padding-left: 2%;
    padding-right: 2%;
  }

  .fifth__description,
  .recipes__description,
  .craft__description,
  .seventh__sub-title,
  .shares__text,
  .footer__sub-title__email {
    font-size: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 602px) {
  .recipes {
    margin-left: 0;
  }
  
  .advantages {
    justify-content: center;
  }

  .sixth__left {
    width: 98%;
    height: auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 480px) {
  .beer__img-right, 
  .beer__img-2 {
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 420px) {
  .header__title {
    font-size: 50px;
  }

  .header__sub-title {
    font-size: 18px;
  }

  .order {
    padding: 14px 38px;
  }

  .order:hover {
    padding: 14px 46px;
    letter-spacing: 1px;
  }

  .events__item__description {
    font-size: 14px;
  }

  .craft__title {
    font-size: 45px;
  }

  .craft__description {
    font-size: 18px;
  }

  .third__order,
  .sixth__order {
    font-size: 16px;
  }

  .crayfish__item__title {
    font-size: 13px;
  }

  .crayfish__item__description,
  .advantages__item__title {
    font-size: 20px;
  }

  .fifth__title,
  .recipes__title,
  .footer__title {
    font-size: 40px;
  }

  .fifth__description,
  .recipes__description,
  .shares__text,
  .footer__sub-title {
    font-size: 18px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 375px) {
  .beer__img-left,
  .beer__img-2 {
    width: 100%;
  }

  .calculation__item__input {
    width: 310px;
  }

  .footer__sub-title {
    flex-direction: column;
    align-items: center;
  }

  .footer__sub-title__email {
    padding-left: 0px;
  } 
}

/* Desktops */
@media only screen and (min-width : 1920px) {
  .header__title {
    font-size: calc(80px + 1em);
    padding-bottom: 60px;
  }

  .header__sub-title,
  .seventh__sub-title {
    font-size: calc(25px + 0.5em);
  }

  .order {
    margin-top: 40px;
    font-size: calc(18px + 0.5em);
    line-height: calc(19px + 0.5em);
    padding: 30px 50px;
    border-radius: 60px
  }

  .order:hover {
    padding: 30px 66px;
    letter-spacing: 3px;
  }

  .wrapper__title, 
  .recipes__title,
  .seventh__title,
  .footer__title {
    font-size: calc(60px + 2em);
  }

  .events__item__title {
    font-size: calc(30px + 1em);
  }

  .events__item__description {
    font-size: calc(16px + 1em);
    line-height: calc(19px + 1em);
    min-width: calc(250px + 2em);
  }

  .craft__title {
    font-size: calc(45px + 2em);
  }

  .craft__description {
    font-size: calc(18px + 1em);
    line-height: calc(109% + 0.1em);
    max-width: 1000px;
  }

  .third__order,
  .calculation__item__title {
    font-size: calc(16px + 1em);
  }

  .third {
    max-width: 1920px;
  }

  .crayfish__item__title {
    font-size: calc(13px + 1em);
  }

  .crayfish__item__description {
    font-size: calc(20px + 1.5em);
    line-height: 120%;
  }

  .fifth {
    max-width: 1325px;
  }
  
  .fifth__title {
    font-size: calc(60px + 2em);
    line-height: 109%;
  }
  
  .fifth__description,
  .recipes__description,
  .shares__text {
    font-size: calc(25px + 1em);
    line-height: 120%;
    max-width: 1000px;
  }

  .advantages__item__title,
  .footer__sub-title {
    font-size: calc(30px + 0.5em);
  }

  .calculation__item__input {
    width: 320px;
    height: 70px;
    font-size: calc(18px + 1em);
  }

  .calculation__item__title {
    margin-bottom: 20px;
  }
}