/*==========  Desktop First Method  ==========*/

/* Desktops */
@media only screen and (max-width : 1740px) {
  .third {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Desktops */
@media only screen and (max-width : 1540px) {
  .third {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .beer {
    margin-top: 40px;
  }
}

/* Desktops */
@media only screen and (max-width : 1435px) {
  .events__item {
    margin-bottom: 30px;
  }

  .events {
    margin-bottom: 155px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1200px) {
  .header {
    padding-left: 2%;
    padding-right: 2%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 783px) {
  .beer {
    flex-direction: column;
  }
  
  .beer__img-2 {
    margin-left: 0;
    margin-top: 18px;
  }

  .third {
    align-items: flex-start;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 660px) {
  .header__title {
    font-size: 60px;
  }

  .header__sub-title {
    text-align: center;
  }

  .header__title, .header__sub-title {
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
  }

  .events__item__title {
    text-align: center;
  }

  .wrapper__title {
    font-size: 50px;
  }

  .events__item__title {
    font-size: 25px;
  }

  .craft__title {
    font-size: 50px;
  }

  .craft__description {
    font-size: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 480px) {
  .beer__img-right, 
  .beer__img-2 {
    width: 100%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 420px) {
  .header__title {
    font-size: 50px;
  }

  .header__sub-title {
    font-size: 18px;
  }

  .order {
    padding: 14px 38px;
  }

  .order:hover {
    padding: 14px 46px;
    letter-spacing: 1px;
  }

  .events__item__description {
    font-size: 14px;
  }

  .craft__title {
    font-size: 45px;
  }

  .craft__description {
    font-size: 18px;
  }

  .third__order {
    font-size: 16px;
  }

  .crayfish__item__title {
    font-size: 13px;
  }

  .crayfish__item__description {
    font-size: 20px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 375px) {
  .beer__img-left,
  .beer__img-2 {
    width: 100%;
  }
}

/* Desktops */
@media only screen and (min-width : 1920px) {
  .header__title {
    font-size: calc(80px + 1em);
    padding-bottom: 60px;
  }

  .header__sub-title {
    font-size: calc(25px + 0.5em);
  }

  .order {
    margin-top: 40px;
    font-size: calc(18px + 0.5em);
    line-height: calc(19px + 0.5em);
    padding: 30px 50px;
    border-radius: 60px
  }

  .order:hover {
    padding: 30px 66px;
    letter-spacing: 3px;
  }

  .wrapper__title {
    font-size: calc(60px + 2em);
  }

  .events__item__title {
    font-size: calc(30px + 1em);
  }

  .events__item__description {
    font-size: calc(16px + 1em);
    line-height: calc(19px + 1em);
    min-width: calc(250px + 2em);
  }

  .craft__title {
    font-size: calc(45px + 2em);
  }

  .craft__description {
    font-size: calc(18px + 1em);
    line-height: calc(109% + 0.1em);
  }

  .third__order {
    font-size: calc(16px + 1em);
  }

  .third {
    max-width: 1920px;
  }

  .crayfish__item__title {
    font-size: calc(13px + 1em);
  }

  .crayfish__item__description {
    font-size: calc(20px + 1.5em);
    line-height: 120%;
  }
}